@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/snfus0W_99N64iuYSvp4W8l74Jo.ttf) format('truetype');
}
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/snfzs0W_99N64iuYSvp4W8HAxYqcQDc.ttf) format('truetype');
}
